*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color:rgb(199, 241, 227);
    width: 100%;  
}
p{
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    color: rgb(10, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
main div label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5%; 
    color: black;
    font-size: 75px;  
}

input{
color: black;
font-size: large;
background-color: aqua;
height: 50px;
width: 395px;
margin-block-end: 1%;
border: 3px black solid;
}

button{
    border: 3px black solid;
    border-radius: 25px;
    background-color: rgb(112, 235, 235);
    font-size: large;
    height: 75px;
    width: 75px;
   

}
section{
    border: 3px black solid;
}

footer{
    height: 100px;
    background-color:rgb(199, 241, 227);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

